<mat-dialog-content [formGroup]="bookingForm" class="dialogContent">
    <h4>Booking Form</h4>
    
    <mat-form-field style="width: 100%;">
      <input matInput formControlName="firstName" [readonly]="isEdit" placeholder="First Name" [(ngModel)]="booking.firstName" required>
      <mat-error>
        Cannot be blank
      </mat-error>
    </mat-form-field>
    <p></p>

    <mat-form-field style="width: 100%;">
        <input matInput formControlName="lastName" [readonly]="isEdit" placeholder="Surname" [(ngModel)]="booking.lastName" required>
        <mat-error>
          Cannot be blank
        </mat-error>
      </mat-form-field>
      <p></p>

      <!-- <mat-form-field style="width: 100%;">
        <input matInput type="datetime-local" placeholder="start date" formControlName="dateTime" placeholder="Date and Time" [(ngModel)]="datetime" required>
        <mat-error>
          Please select and date and time
        </mat-error>
      </mat-form-field>
      <p></p> -->

      <mat-form-field style="width: 100%;">
        <input matInput readonly [matDatepicker]="bookingDatePicker" formControlName="bookingDate" placeholder="Date" [(ngModel)]="booking.bookingDate" required>
        <mat-datepicker-toggle matSuffix [for]="bookingDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #bookingDatePicker></mat-datepicker>
        <mat-error>
          Cannot be blank
        </mat-error>
      </mat-form-field>
      <p></p>

      <mat-form-field style="width: 100%;">
        <input matInput formControlName="bookingTime" placeholder="Time" [(ngModel)]="booking.bookingTime" required>
        <mat-error>
          Cannot be blank
        </mat-error>
      </mat-form-field>
      <p></p>

      <mat-form-field style="width: 100%;">
        <input matInput formControlName="phoneNumber" placeholder="Phone Number" [(ngModel)]="booking.phoneNumber" required>
        <mat-error>
          Required: Must be a valid number
        </mat-error>
      </mat-form-field>
      <p></p>

      <mat-form-field style="width: 100%;">
        <input matInput  type="number" formControlName="partySize" placeholder="Party Size" [(ngModel)]="booking.partySize" required>
        <mat-error *ngIf="booking.partySize === '0' ">
          Required: Must be a number greater than 0
        </mat-error>
      </mat-form-field>
      <p></p>
  
  
  </mat-dialog-content>
  
  <mat-dialog-actions>
      <button mat-button class="mat-raised-button"(click)="onCloseClick()" >Close</button>
      <button mat-button class="mat-raised-button mat-primary" [disabled]="bookingForm.invalid" (click)="onSaveClick()">Save</button>
  </mat-dialog-actions>
  <br>
  